@import '../variables.css';

html,
body {
  background-color: var(--hybrid-background);
  box-sizing: border-box;
  color: var(--hybrid-lt-wht);
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: var(--line-height);
}

blockquote,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre {
  margin: 0;
}

a:any-link {
  color: inherit;
  text-decoration: none;
}
