:root {
  /*
   * Typography
   * ======================================================================== */

  --font-family: 'Roboto Mono', sans-serif;
  --font-size-s: 10px;
  --font-size-m: 12px;
  --font-size-l: 14px;
  --line-height: 1.5;

  /*
   * Layout
   * ======================================================================== */

  --max-content-width: 1000px;
  --space: 10px;

  /*
   * Color
   * ======================================================================== */

  --hybrid-background: #1d1f21;
  --hybrid-foreground: #c5c8c6;
  --hybrid-dt-blk: #282a2e;
  --hybrid-lt-blk: #373b41;
  --hybrid-dt-red: #a54242;
  --hybrid-lt-red: #c66;
  --hybrid-dt-grn: #8c9440;
  --hybrid-lt-grn: #b5bd68;
  --hybrid-dt-yel: #de935f;
  --hybrid-lt-yel: #f0c674;
  --hybrid-dt-blu: #5f819d;
  --hybrid-lt-blu: #81a2be;
  --hybrid-dt-mag: #85678f;
  --hybrid-lt-mag: #b294bb;
  --hybrid-dt-cyn: #5e8d87;
  --hybrid-lt-cyn: #8abeb7;
  --hybrid-dt-wht: #707880;
  --hybrid-lt-wht: #c5c8c6;
}
